body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    background:#0b2c4d;
    color:white;
}

nav{
    background:black;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
    font-weight:bold;
}

.container{
    width:60%;
    margin:40px auto;
    background:white;
    color:black;
    padding:30px;
    border-radius:10px;
}

input, select{
    width:100%;
    padding:10px;
    margin:10px 0;
}

button{
    width:100%;
    padding:12px;
    background:gold;
    border:none;
    font-weight:bold;
    cursor:pointer;
}
