body{
    font-family: Arial, sans-serif;
    margin:0;
    padding:0;
    background:#0b2c4d;
    color:white;
     text-align:center;
}

nav{
    background:black;
    padding:15px;
    text-align:center;
}

nav a{
    color:white;
    margin:15px;
    text-decoration:none;
    font-weight:bold;
}

.container{
    width:60%;
    margin:40px auto;
    background:white;
    color:black;
    padding:30px;
    border-radius:10px;
}

input, select{
    width:90%;
    padding:10px;
    margin:10px 0;
}

button{
    width:90%;
    padding:12px;
    background:gold;
    border:none;
    font-weight:bold;
    cursor:pointer;
}



*{margin:0;padding:0;box-sizing:border-box;font-family:Arial}

nav{
    display:flex;
    justify-content:center;
    gap:30px;
    background:black;
    padding:15px;
}
nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}
nav a:hover{color:gold}

.hero{
    position:relative;
    height:50vh;
    overflow:hidden;
}
.hero img{
    width:100%;
    height:100%;
    object-fit:cover;
    animation:zoom 8s infinite alternate;
}
.hero-text{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    color:white;
    text-align:center;
    animation:slide 2s ease;
}
@keyframes zoom{
    0%{transform:scale(1)}
    100%{transform:scale(1.2)}
}
@keyframes slide{
    0%{transform:translate(-50%,-100%);opacity:0}
    100%{transform:translate(-50%,-50%);opacity:1}
}

.container{
    width:90%;
    margin:auto;
    margin-top:30px;
}

input,select,button{
    width:10%;
    padding:10px;
    margin:10px 0;
}

button{
    background:black;
    color:white;
    border:none;
    cursor:pointer;
}
button:hover{background:gold;color:black}


body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 95%;
    max-width: 1200px;   /* plus large */
    margin: 40px auto;
}



form, .card, .section, .content{
    width: 100%;
}

input, select, button{
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    font-size: 18px;
}

h1{
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
}




